<header>
    <h1>FRIANSW?</h1>
    <nav>
        <a href="/usuario/perfil">Perfil</a>
        <a href="/amigos/buscador">Amigos</a>
        <a href="/pregunta/lista">Preguntas</a>
        <a href="/mensajes/mensajesRecibidos">Mensajes</a>
        <a href="/usuario/salir">Salir</a>
        <div class="score">
            
                <img src="/usuario/imagen/<%= user %>">
            
            <p id="puntos"><%= puntos %></p>
        </div>
    </nav>
</header>