<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-16">
    <link rel="stylesheet" type="text/css" href="/css/error.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/imagen/icon.png"/>
    <title>Error 404</title>
</head>

<body>
    <header>
        <h1>Upsss 4<img src="/imagen/brujula.png">4</h1>
    </header>
    <div class="content">
        <h1>Vaya, parece que te has perdido por Friansw? y estás buscando una dirección que no existe.</h1>
        <p>No pasa nada, gira a la izquierda, luego todo recto, al final a la derecha y llegarás al inicio</p>
        <div class="frases">
            <p>Mientras llegas te dejamos por aquí un dato curioso:</p>
            <h2> <%= frase %></h2>
        </div>
        <div class="inicio">
            <p>O puede ser más fácil si pulsas aquí.</p>
            <a class="boton" href="/usuario/perfil">Inicio</a>
        </div>
    </div>
</body>

</html>