<h2 class="centrado">PUBLICACIONES:</h2>
<div class="publicaciones">
    <% publicaciones.forEach((publicacion)=>{%>
        <div>
            <img class="imgPublicacion" src="<%=publicacion.foto%>" alt="<%=publicacion.descripcion%>">
        </div>
    <%})%>
</div>